:root {
  --background-color: #ffffff;
  --primary-color: #212121;
  --secondary-color: #000000;
  --accent-color: #2196f3;
  --text-color: #757575;
  --hero-color: #2F303A;
  --team-section-color: #F5F4FA;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --header-bottom-line: #ECECEC;
  --team-item-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --btn-primary-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --btn-secondary-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  --card-border: #EEEEEE;
  --card-set-gap: 30px;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--primary-color);
}

h1, h2, h3, h4, h5, p, ul {
    margin: 0;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
       
}

/*Шапка сайту*/

.header {
    border-bottom: 1px solid var(--header-bottom-line);
}

.header-section {
    background: var(--background-color);
    height: 80px;

    display: flex;
    flex-direction: row; 
    align-items: center; 

} 

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.20;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
  margin-right: 93px;
  
}

.logo-item-black {
  color: var(--secondary-color);
}

.logo-item-white {
  color: var(--background-color);
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-list,
.nav-contacts {
    display: flex;
    flex-direction: row;

} 

.nav-list-item + .nav-list-item{
    margin-left: 50px;
    
}

.nav-list-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-contacts {
    margin-left: auto;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit
}

.nav-link.grey {
   color: var(--text-color); 
  }

.nav-link:hover,
.nav-link:focus,
.nav-link.grey:hover,
.nav-link.grey:focus,
.current-link,
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

.features-section,
.work-section,
.filter-section {
    background-color: var(--background-color);
}

.features-section,
.team-section,
.filter-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-section {
    padding-bottom: 94px;
}


/*Секція з головним заголовком*/
.hero,
.footer-section {
    background-color: var(--hero-color);
}

.hero {
    display: flex;
    width: 100%;
    height: 600px;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);

    margin-bottom: 30px;
    width: 696px;
}

.button-primary {
    display: inline-block;
    background-color: var(--accent-color);
    font-family:inherit;
    font-style: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    text-align: center;
    color:var(--background-color);
    cursor: pointer;

    border: 1px solid transparent;
    box-shadow: var(--btn-primary-shadow);
    border-radius: 4px;
    border-color: var(--accent-color);
    padding: 10px 32px;
    min-width: 200px;
}

/*Секція "Наши преимущества", "Чем мы занимаемся" */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: inherit;
    margin-bottom: 50px;
}

.features-section.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: calc((100% - 90px) / 4 );

    padding-top: 0;
    padding-bottom: 0;
}

.features-list {
    display: block;
    width: 270px;
}

.features-list + .features-list {
    margin-left: 30px;
}


.features-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: inherit;
    margin-bottom: 10px;
}

.features-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.work-section.list {
    display: flex;
    flex-direction: row;

    padding-bottom: 0;

}

.work-list-item +  .work-list-item {
    margin-left: 30px;
}


/*Секція "Наша команда"*/
.team-section {
    background-color: var(--team-section-color);
   
}

.team-section.list {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.team-list-item {
    background-color: var(--background-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    box-shadow: var(--team-item-shadow);
    border-radius: 0px 0px 4px 4px;
}

.team-list-item + .team-list-item {
    margin-left: 30px;
}

.team-card-content {
    padding: 30px 0;
}

.team-list-name {
    font-weight: 500;
    letter-spacing: 0.03em;
    color: inherit;
    margin-bottom: 10px;   
}

.team-specialty {
    font-weight: normal;
    letter-spacing: 0.03em;
    color: var(--text-color);
}


/*Сторінка портфоліо*/

.filter-section {
    padding-top: 94px; 
    padding-bottom: 94px;
}

.btn-set {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-link + .btn-link {
    margin-left: 8px;
}

.button-secondary {
    background-color: var(--team-section-color);
    font-family: inherit;
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;

    text-align: center;
    color: inherit;
    cursor: pointer;

    padding: 6px 22px; 
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: var(--team-section-color);
    box-shadow: none;
}

.button-secondary.all {
    background-color: var(--accent-color);
    font-family: inherit;
    font-style: inherit;
        
    color: var(--background-color);
    
    border-color: var(--accent-color);
    filter: var(--btn-secondary-shadow);
}

.button-secondary:hover,
.button-secondary:focus {
    background-color: var(--accent-color);
    color: var(--background-color)
}

.card-set {
    padding-top: 34px;
    margin-left: calc( -1 * var(--card-set-gap));
    display: flex;
    flex-wrap: wrap;
}

.card-item {
    flex-basis: calc((100% / 3) - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    
}

.card {
    border: 1px solid var(--card-border);
    box-sizing: border-box;
}

.card-content {
    padding: 20px 24px;
}

.filter-link {
    text-decoration: none;
}

.card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-color);

    margin-bottom: 4px;
}

.card-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/*Футер*/

.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-adress {
    padding-top: 20px;
}

.address-list {
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    list-style-type: none;

    margin-bottom: 9px
}

.address-list.place {
   color: var(--background-color);
   font-style: normal;
}
.footer-link {
   color: var(--footer-link-color);
   text-decoration: none;
}
